@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    line-height: 1;
    font-family: 'Lato', sans-serif;
    color: inherit;
}

body, html {
    width: 100%;
    height: 100%;
}

#site-title {
    font-size: 3.5rem;
}

#bg-img {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('background.jpg') center center no-repeat;
    background-size: cover;      
    z-index: -1;      
}

#bg-img:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #070000, #4c0001, #070000);
    opacity: .6;
    z-index: -1;     
}

.banner {
    width: 100%;
    text-align: center;
    color: #fff;    
    padding: 20px 0;     
}

.space {
    padding-top: 5%;
}

#cover {
    width: 100%;
    border: 10px double rgba(0, 0, 0, 0.1);
}

p {
    margin: 0;
    padding: 0 20px;
}

.hidden {
    display: none;
}
.block{
    display: block;
}
input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px 10px;
    background-color: white;
    border: 1px solid purple;    
    border-radius: 5px;
    color: black;
}

button {
    width: calc(100% - 10px);
    padding: 10px 5px;
    background-color: purple;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;    
}

.toggle {
    width: 50%;
    padding: 10px 5px;
    margin: 0;
    border-radius: 5px 0 0 5px;    
}

.tg-right {
    border-radius: 0 5px 5px 0;    
    border-left: 0px;
}

.disabled {
    background-color: #500050;
    color: grey;
}

.landing {
    height: 100vh;
    padding: 0;
}

button:focus, input[type="button"]:focus {
    outline: none;
}

#demo {
    clear:both;
}

.white {
    background-color: #fff;
}