@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    line-height: 1;
    font-family: 'Lato', sans-serif;
    color: inherit;
}

#site-title {
    font-size: 3.5rem;
}

.banner {
    width: 100%;
    text-align: center;
    background-color: #3b3b3b;
    color: #fff;    
    padding: 20px 0;     
}

.space {
    padding-top: 5%;
}

#cover {
    width: 100%;
    border: 10px double rgba(0, 0, 0, 0.1);
}

p {
    margin: 0;
    padding: 0 20px;
}

.hidden {
    display: none;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px 10px;
    background-color: white;
    border: 1px solid purple;    
    border-radius: 5px;
    color: black;
}

button {
    width: calc(100% - 10px);
    padding: 10px 5px;
    background-color: purple;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;    
}

.toggle {
    width: 50%;
    padding: 10px 5px;
    margin: 0;
    border-radius: 5px 0 0 5px;    
}

.tg-right {
    border-radius: 0 5px 5px 0;    
    border-left: 0px;
}

.disabled {
    background-color: #500050;
    color: grey;
}

.landing {
    height: 100vh;
    padding: 0;
}

button:focus, input[type="button"]:focus {
    outline: none;
}